
body{
  margin: 0px;
}


h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#333;
  margin-top: 20px;
  font-size: 36px;
  position:relative;
  height: 20px;

} 

#soustitre{
  font-size: 15px;
  margin-top:1px;
  display: block;


}

.entete
{
  background-color:#3b5998; 
  display: flex; 
  flex-wrap: nowrap;
  justify-content: space-between;
  opacity: 0.8;
  margin-top:Opx;
  width: 100%
}

  .liste_menu{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
      list-style: none; 
      width: 110%;
    
  }
  #entete{
    background-color: #3b5998;
    display: flex;
    margin-top: 0px;
    height: 80px;
    width: 100%;
      }
  #searchbar{
    width: 500px;
    margin-right: 0px;
    padding-top: 13px;
  }
  .text{
    font-size: 12px;
    color: white;
    font-family: inherit;
    letter-spacing: inherit;
  }
  .champ{
    background-color: #ffffff;
    width: 150px;
    margin-right:10px;
  }

  #scroll{
    display: flex;
  }
  .bouton{
    background-color: #4267B2;
    color:white;
    margin-left: 60px;
    font-family: inherit;
    letter-spacing: inherit;
    

    padding: 0 14 0 14px;
    text-align: left;
    font-size: 12px;
    
    direction: ltr;
    line-height: 1.34;
  }
  .bouton:hover{
    background-color: #365899;
  }

#info{
  font-size: 12px;
  font-family: lucida;
  color: rgb(139, 147, 255);
  margin-left: 34%;
  
  

}
.info{
  font-size: 12px;
  font-family: lucida;
  color: rgb(139, 147, 255);
  display:block;
  width: 200px;
  margin-left: 10px;

}


  #logo{
    width:45%;
    margin-left: 10%;
  }
.logo{
  color: white;
  text-decoration:none;
  display: block;
  margin-top: 17px;
  margin-right: 10px;
  width:40%;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 15%;
  text-decoration:none;
}

  #texte_logo{
    color: #ffffff;
    text-decoration:none;
    font-family: klavika bold;
       

  }



  #corps{
    display: flex;
    float:right;
    width: 100%;
  }
  #cote_droit{
    width : 45%;
    height: 100%;
    background: linear-gradient(to top , #E5E8F1, white);
   margin-right: 0%;

  }
 
#conditions{
  font-size: 10px;
  color: rgb(131, 128, 128);
  width: 400px;
  margin-right: 10%;

}

#identifiant{
    display: flex;
    width: 400px;
    margin-bottom: 10px;
    

  }
  #identifiant2{
    display: flex;
    
        flex-direction: column;
        width: 380px;

  }
  #ide1{
    width: 180px;
    margin-right: 7px;
    height: 30px;
  }
  #ide2{
    width: 180px;
    

  }
  #ide3 {
    height: 30px;
    margin-bottom: 10px;
    width: 100%;
  }
  #ide4{
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
  }
  #formulaire{
    width: 400px;
    margin-bottom: 10px;
    display: block;
    
  }
  #inscript{
    background-color: rgb(76, 141, 40);
    width: 160px;
    height: 35px;
    border-radius: 5px;
    font-family: lucida;
    color: white;
    font-size: 17px;
  }
  #inscript:hover{
    background-color: rgb(83, 155, 41);
    width: 160px;
    height: 35px;
    border-radius: 5px;
    font-family: lucida;
    color: white;
    font-size: 17px;


  }
  .inffos{
    
font-size: 12px;
font-family: lucida;

  }
  #inffos{
    font-size: 12px;
    font-family: lucida;
  }
  #texte02{
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    font-family: inherit;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .date{
    font-size: 13px;
    height: 30px;
    padding: 5px;
    border: 1px solid #bdc7d8;
  }

  #cote_gauche{
    width: 55%;
    background: linear-gradient(to top , #E5E8F1, white);
   
  }
  #slogan{
    width: 380px;
    margin-left:160px;
    display: block;
  }
  .fond{
    margin-left: 140px;
  }
  

 
  
  
  
  









footer{
  background-color: #ffffff;
  height:  110px;
}


  #lang{
    margin-left: 0px;
    list-style:none;
    display: flex;
    padding-bottom: 0px;
    padding-left: 0px;
    height:30%;
    width: 100%;
    background-color: #ffffff;
    
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: blue;
    
  }
  
  
  #footer{
    display: flex;
    height: 80px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
    
  }


  #foot2{
    
   
    margin-top: 0px;
    margin-bottom: 0px;
    width: 50px;
    height: 10px;
    background: #ffffff;
    
    
    
    
    bottom:0;
    
    width:100%;
    
    padding-top:5px;
    
    height:100%;
    display: flex;
    
  }
  .colonne{
    width: 10%;
    padding-left: 0%;
    list-style:none;
    font-family: lucida;
    font-size: 14px;
    
  }

  
  li{
    margin-left:1px;
    font-size: 11px;
  }
  .liste{
    font-size: 11px;
  }

  #colonne1{
    width: 90px;
  }
  #colonne2{
    width: 90px;
  }
  #colonne3{
    width: 90px;
  }
  #colonne4{
    width: 90px;
  }
  #colonne5{
    width: 140px;
  }
  #colonne6{
    width: 70px;
  }
  #colonne7{
    width: 70px;
  }
  #colonne8{
    width: 60px;
  }
  #colonne9{
    width: 120px;
  }
  #colonne10{
    width: 90px;
  }
  #colonne1{
    width: 90px;
  }
  #boutonP{
    font-size:20px; 
    
    border-radius: 10%;
      }
  